@media screen and (max-width: 720px) {
    .logo {
        width: 70%;
    }
    
    .logo img {
        width: 90%;
    }
}

@media screen and (max-width: 640px) {
    h2 {
        font-size: 22px;
    }
    
    .main-menu {
        width: 60px;
        height: 46px;
        
        background: url('../img/menu.png') 50% 50%;
        cursor: pointer;
    }
    
    .main-menu ul {
        display: none;
    }
    
    .main-menu:hover ul {
        display: block;
        position: relative;
        top: 35px;
        left: 15px;
    }
    
    .main-menu ul li a {
        border-radius: initial;
        margin: 0;
    }
    
    .intro-features ul {
        font-size: 16px;
    }
}

@media screen and (max-width: 595px) {
    .intro video {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 80%;
    }
    
    .intro-features {
        float: none;
        margin: 0 auto;
        width: 80%;
    }
}

@media screen and (max-width: 495px) {
    .key-features .feature-1 img {
        display: block;
        float: none;
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    
    .key-features .feature-1 p {
        float: none;
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    
    .page-header .logo {
        position: absolute;
        top: 60px;
        left: 20px;
    }
    
    .page-header .social {
        float: left;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        width: 336px;
    }
    
    .intro .greeting {
        margin-top: 0;
        
        font-size: 18px;
    }
    
    .page-footer .copyright {
        float: none;
        margin-bottom: 20px;
    }
    
    .page-footer .social {
        float: none;
    }
    
    .registration input[type="text"],
    .registration input[type="tel"],
    .registration input[type="email"],
    .registration input[type="number"] {
        min-width: 100px;
        width: 90%;
    }
}