body {
    /* Типографика */
    font-family: "PT Serif", "Times New Roman", serif;
/*    font-size: 17px;*/

    /* Оформление */
    background-color: #f8f8f8;
}

.main-menu ul li {
    /*Блочная модель*/
    width: 100px;
    height: 35px;
    display: inline-block;
    border-radius: 5px;

    /*Типографика*/
    text-align: center;

    /* Оформление */
    list-style: none;
    background-color: #ff8c00;
}

.main-menu ul li a {
    /* Типографика */
    font-size: 1.1em;
    line-height: 35px;
    vertical-align: middle;

    /* Оформление */
    color: #fff;
    text-decoration: none;
}

.main-item-image {
    border: 1px solid #c9f08f;
}

.description h2 {
    /* Типографика */
    font-size: 18px;

    /* Оформление */
    color: #000;
    font-weight: 400;
    background-color: #eaeaea;
}

.short-description p {
    /* Типографика */
    font-size: 14px;
    line-height: 16px;
    font-style: italic;

    /* Оформление */
    color: #707070;
}

.features ul {
    /* Типографика */
    font-size: 15px;

    /* Оформление */
    color: #5c7734;
    list-style-image: url(../img/wheel-icon.png);
}

.detailed-description {
    /* Типографика */
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    /* Оформление */
    color: #484343;
}

.contact-us {
    /*Блочная модель*/
    width: 500px;
}

.contact-us fieldset {
    /*Оформление*/
    border-radius: 5px;
    border-color: #5c7734;
}

.contact-us fieldset legend {
    /*Типографика*/
    font-size: 18px;
}

.contact-us fieldset input {
    /*Блочная модель*/
    width: 200px;

    /*Типографика*/
    font-family: "PT Serif", "Times New Roman", serif;
    font-style: italic;
    font-size: 15px;
}

.contact-us fieldset textarea {
    /*Блочная модель*/
    width: 400px;
    min-height: 200px;

    /*Типографика*/
    font-family: "PT Serif", "Times New Roman", serif;
    font-style: italic;
    font-size: 15px;
}

.contact-us fieldset button {
    /*Типографика*/
    font-family: "PT Serif", "Times New Roman", serif;
    font-size: 15px;
    text-align: center;

    /*Оформление*/
    border: none;
    border-radius: 3px;
    background-color: #c9f08f;
    color: #333;
}
