body {
    min-width: 1020px;

    font-family: "PT Serif", "Times New Roman", serif;

    background-color: #f8f8f8;
}

.box {
    min-height: calc(100vh - 66px);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 10px;
}

.clearfix::after {
    content: "";

    display: table;
    clear: both;
}

.row {
    width: 100%;
}

.left-col {
    float: left;
}

.right-col {
    float: right;
}

h1 {
    text-align: center;
    font-size: 28px;
}

.page-header {
    min-height: 100px;

    background: #262626;
}

.logo {
    margin-bottom: 5%;
}

.social {
    float: right;
    padding: 0;
    margin-bottom: 40px;
}

.social-btn {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;

    font-size: 0;
    text-decoration: none;
    line-height: 25px;
    vertical-align: middle;

    background: url(../img/social-icons.png) no-repeat transparent;
    outline: none;

    transition: background-position 0.5s;
}

.social-btn:hover {
    background-color: #ff4500;
}

.social-btn-fb {
    background-position: 10px 5px;
}

.social-btn-fb:hover {
    background-position: 10px -20px;

    transition: background-position 0.5s;
}

.social-btn-tw {
    background-position: -17px 5px;
}

.social-btn-tw:hover {
    background-position: -17px -20px;

    transition: background-position 0.5s;
}

.social-btn-inst {
    background-position: -128px 5px;
}

.social-btn-inst:hover {
    background-position: -128px -20px;
}

.social-btn-google {
    background-position: -72px 5px;
}

.social-btn-google:hover {
    background-position: -72px -20px;
}

.social-btn-tumblr {
    background-position: -101px 5px;
}

.social-btn-tumblr:hover {
    background-position: -101px -20px;
}

.main-menu {
    margin-left: 10px;
    clear: both;
}

.main-menu ul {
    margin: 0;
    padding: 0;
}

.main-menu ul li {
    display: inline-block;
    margin-right: 10px;

    text-align: center;

    list-style: none;
}

.main-menu ul li:last-child {
    margin-right: 0;
}

.main-menu ul li a {
    display: block;
    width: 100px;
    height: 35px;
    border-radius: 5px;

    font-size: 1.1em;
    line-height: 35px;
    vertical-align: middle;

    background-color: #ff8c00;
    color: #fff;
    text-decoration: none;
    outline: none;
}

.main-menu ul li .active-page {
    background-color: #ff4500;
}

.main-menu ul li a:hover {
    background-color: #ff4500;
}

.user-block {
    text-align: center;
}

.user-block a {
    display: inline-block;
    width: 100px;
    height: 35px;
    border-radius: 5px;

    font-size: 1.1em;
    line-height: 35px;
    vertical-align: middle;

    background-color: #ff8c00;
    color: #fff;
    text-decoration: none;
    outline: none;
}

.user-block a:hover {
    background-color: #ff4500;
}

.intro .greeting {
    margin-bottom: 5%;

    font-style: italic;
    font-size: 20px;

    color: #4d4d4d;
}

.intro video {
    margin-left: 3%;
    margin-bottom: 3%;
}

.intro-features {
    margin-right: 3%;
}

.intro-features ul {
    font-size: 18px;
}

.key-features .feature-1 p {
    overflow: hidden;
    padding-left: 3%;
}

.catalog-item {
    display: inline-block;
    width: 240px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;

    vertical-align: top;
    text-decoration: none;
    text-align: center;

    color: inherit;
}

.catalog-item:last-child {
    margin-right: 0;
}

.catalog-item:hover {
    background-color: rgba(255, 140, 0, 0.2);
}

.main-item-image {
    margin-right: 20px;
    margin-bottom: 25px;

    outline: 1px solid #ff8c00;
}

.main-item-image:hover {
    outline: none;
}

.description p:first-letter {
    margin-left: 20px;

    font-family: 'Ruslan Display', cursive;
    font-size: 30px;

    color: #fc8a00;
}

.description h2 {
    margin: 0;
    padding: 10px;

    font-size: 18px;

    color: #000;
    font-weight: 400;
    background-color: #eaeaea;
}

.short-description {
    width: 500px;
    margin-bottom: 20px;
}

.short-description p {
    font-size: 14px;
    line-height: 16px;
    font-style: italic;

    color: #707070;
}

.btn-block {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 5px 15px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 5px;

    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;

    background-color: #4ec900;
    color: #fff;
    border: none;
    outline: none;
}

.btn:hover {
    background-color: #b6ed93;
    color: #4d4d4d;
}

.btn:active {
    background-color: #ff8c00;
}

.features {
    clear: both;
}

.features ul {
    font-size: 15px;

    color: #484343;
    list-style-image: url(../img/wheel-icon.png);
    line-height: 24px;
}

.frame-geometry-content {
    max-width: 960px;
    margin: 0 auto;
}

.frame-geometry img {
    display: block;
    margin: 0 auto;
}

.frame-geometry table {
    border-collapse: collapse;
    margin: 30px auto;
}

.frame-geometry table tr {
    border-bottom: 1px solid #000;
}

.frame-geometry table tr:first-child {
    height: 35px;
}

.frame-geometry table tr .double-header {
    text-transform: uppercase;
}

.frame-geometry table tr th,
.frame-geometry table tr td {
    width: 100px;
    height: 25px;
    border-right: 1px solid #000;

    text-align: center;
    vertical-align: middle;
}

.frame-geometry table tr th:last-child,
.frame-geometry table tr td:last-child {
    border-right: none;
}

.frame-geometry table tr .side-header {
    width: 50px;
}

.detailed-description {
    clear: both;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    color: #484343;
}

.contact-us,
.registration {
    width: 60%;
    margin: 0 auto;
}

.registration-item .item-label {
    width: 100px;
}

.registration table {
    border-spacing: 5px;
}

.registration-personal-info {
    margin-bottom: 2%;
}

fieldset {
    border-radius: 5px;
    border-color: #5c7734;
    margin-bottom: 3%;
}

.required-symbol,
.required-symbol-note {
    vertical-align: top;
    font-style: italic;

    color: #ff4500;
}

fieldset legend {
    font-size: 18px;
}

fieldset input {
    width: 200px;

    font-family: "PT Serif", "Times New Roman", serif;
    font-style: italic;
    font-size: 15px;
}

fieldset input:not([type="email"]) {
    text-transform: capitalize;
}

fieldset textarea {
    resize: none;
    box-sizing: border-box;
    width: 95%;
    height: 200px;
    padding: 5px;

    font-family: "PT Serif", "Times New Roman", serif;
    font-style: italic;
    font-size: 15px;
    text-transform: capitalize;
}

fieldset button {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;

    font-family: "PT Serif", "Times New Roman", serif;
    font-size: 15px;
    text-align: center;

    background-color: #ff8c00;
    color: #fff;
    cursor: pointer;
}

fieldset button:hover {
    background-color: #ff4500;
}

.location-contacts {
    margin-bottom: 25px;
}

.page-footer {
    min-height: 50px;

    color: #fff;
    background: #262626;
}

.page-footer .copyright {
    float: left;
}

.page-footer .social {
    float: right;
    margin: 0;
}
