body {
    /* Типографика */
    font-family: "PT Serif", "Times New Roman", serif;
/*    font-size: 17px;*/

    /* Оформление */
    background-color: #f8f8f8;
}

.main-menu ul li {
    /* Оформление */
    list-style: none;
    background-color: #BAF466; /*пойдет кровь из глаз?*/
    border-radius: 3px; /*пригодится позже*/
}

.main-menu ul li a {
    /* Типографика */
    font-size: 1.1em;

    /* Оформление */
    color: #333;
    text-decoration: none;
}

h2 {
    /* Типографика */
    font-size: 18px;

    /* Оформление */
    color: #000;
    font-weight: 400;
    background-color: #eaeaea;
}
